.categories{

}

.container{

}

.categories__row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__list{
  display: flex;
  align-items: center;
  gap: 32px;
}

.categories__filter{

}